*{box-sizing: border-box;}
body{
	background-color: #15191e;
	margin: 0;
}
h1,ul{
	margin:0;
}
#message{
	border:0.1px solid #f4f4f4;
	font-size: 1.4rem;
	padding-left: 180px;
	padding-right: 180px;
}
#suggestion h1{
  margin-left:2rem;: 
}
.head-container{
	width:100%;
	font-family: 'Rubik', sans-serif;
	color:white;
	background-color:#116979;
}
.head{
	text-align: center;
	text-transform: uppercase;
	font-size: 2.3em;
}
.head2{background-color: #f4f4f4;
	color:#4d80e4;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width:100%;
	padding: 10px;
}
.color{
	width:30%;
    margin:1.66%;
    padding-bottom: 30%;
	float:left;
	cursor: pointer;
	border-radius: 30px;
	transition:all 0.3s;
}
.color:hover{
  transform: scale(1.1);
}
.container:after{
	content:"";
	clear:both;
	display:block;
}
.container{
	max-width: 700px;
	margin:1.2rem auto;
}
.butstyling{
color: #537ec5;
outline:none;
padding: 10px;
}
.butstyling:hover{
	color:white;
	background-color:#537ec5;
}
.selected{
background-color:#537ec5;
color:white; 
}
.back{
 background-color:#116979;
 box-sizing: border-box;
 border:2px solid #116979;
 border-radius: 10px;
 padding: 10px 20px;
 text-align: center;
 font-family: 'Acme', sans-serif;
 letter-spacing: 1px;
 cursor: pointer;
 color: white;
 outline:none;
 margin-left: 8%;
 font-size: 1.4em;
 transition:0.4s;
}
.back:hover{
	background-color:#ededed;
	color: black;
}
.last-div{
	display: flex;
	justify-content: center;
}
/* for other screen devices*/
@media screen and (max-width:790px)
{   .head{
    font-size: 1.9em;
   }
	h1{
		font-size:2.0em;
	}
	#message{
	padding-left:80px; 
	padding-right:80px;
}
}
/* for smartphones */
@media screen and (max-width:400px)
{    .head{
	font-size:1.4em;
}
.container{
max-width: 350px;
margin: 10px auto;
}
#message{
	padding-left:20px; 
	padding-right:20px;
}
.color{
	width:40%;
    margin:2.5%;
    padding-bottom: 38%;
	}
}