/* general styling */
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
html,body{
	background-color: #222831;
        }
/* navigation bar*/
nav{
	padding:0; 
	background-color: #116979;
	min-height: 70px;
	width:100%;
}
.name{
	display:inline-flex;
	align-items:center;
	font-size: 3.1em;
	height:70px;
	font-family: 'Carter One', cursive;
	letter-spacing: 4px;
	color:#8cba51;
}
.name div{
	display: inline-block;
}
.name:hover{
	cursor:pointer;
}
.co{
	color:#fe346e;
}
.ter{
	color:#fd5e53;
}
.as{
	
	color:#81f5ff;
}
.rm{
	color:#feb72b;
}
.tag{
	font-family:cursive;
	color:white;
	margin-top: 40px;
	text-align: center;
	font-size: 1.3em;
	word-spacing: 5px;
	letter-spacing: 3px;
}
.us{
	font-size: 1.4em;
	display:flex;
	justify-content: center;
	height: 100%;
	background-color:  #116979;
	border: 12px solid  #116979;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
	float: right;
}
.us a{
color:white;
text-decoration: none;
margin: 0 auto;
transition: 0.2s;
}
.us a:hover{
	color:#222831;
}
.nav:after{
	content:"";
	clear:both;
	display: block;
}
/* ------------------------------------*/
/*------------image div------------------------*/
.logo{
width:100%;
box-sizing: border-box;
}
.image{
	height:400px;
	width:400px;
	display:block;
	margin-top:80px;
	margin-right:auto;
	margin-left:auto;
	border:3px solid #18b0b0;
	border-radius: 125px;
	animation:example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes example {
  0%   {
  	transform:rotate(0deg);
  }
  25%  {
  	transform:rotate(90deg);
  }
  50%  {
  	transform:rotate(180deg);
  }
  75% {transform:rotate(270deg);
  }
  100% {transform:rotate(360deg);
}
}
/*---- end of image div------------------ */
/* last div for button */
.last-div{
margin-top: 100px;	
width:100%;
display:grid;
justify-content: center;
}
.button{
	border: 3px solid #18b0b0;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#116979;
    background-color: #222831;
}
.button:hover
{
	background-color:#18b0b0;
	border-color: #18b0b0;
	box-shadow: 0 0 80px #18b0b0, 0 0 40px #18b0b0, 0 0 80px #18b0b0;
	color: #116979;
}
/* end of last div */
/* small screen devices*/
@media screen and (max-width: 600px)
{   .tag{
	font-size: 1em;
}
	.name{
		font-size: 2.2em;
		display: flex;
		justify-content: center;
	}
	.us{
		float: none;
		padding: 0;
		border: none;	}
	.us a{
		display: block;
		width: 100%;
		padding: 10px 0;
		background:#137586;
		text-align: center;
	}
	.us a:hover{
		background:#106170;
		color: white;
	}
   .image{
	height:300px;
	width:300px;
	border-radius: 100px;
     }
}
@media screen and (max-width: 390px)
{
.image{
	width: 250px;
	height: 250px;
	border-radius: 80px;
}
}
